<ion-header no-border>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen>
  <span class="h1" style="font-size: 40px; padding: 15px; color: white">Sliding Info Title</span>
  <ion-slides [options]="slidesOpts4">
    <ion-slide>
      <img class="slide-card" src="assets/images/hands.jpg">
    </ion-slide>
    <ion-slide>
      <img class="slide-card" src="assets/images/parcel4.jpeg">
    </ion-slide>
    <ion-slide>
      <img class="slide-card" src="assets/images/parcel6.jpeg">
    </ion-slide>
  </ion-slides>

  <div class="listing-card-container">
    <div class="listing-card" (click)="click('card 1')">
      <div class="content">
        <p class="body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod autem reprehenderit cupiditate delectus magni aspernatur id suscipit itaque, est minus, error, eveniet enim facere in aliquam quae temporibus officiis praesentium?
        </p>
      </div>
    </div>
    <div class="listing-card" (click)="click('card 1')">
      <img src="assets/images/parcel1.jpeg">
      <span>Apple Laptop</span>
    </div>
<!--    <div class="listing-card" (click)="click('card 1')">-->
<!--      <div class="content">-->
<!--        <span class="title">Title</span>-->
<!--        <p class="body">-->
<!--          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod autem reprehenderit cupiditate delectus magni aspernatur id suscipit itaque, est minus, error, eveniet enim facere in aliquam quae temporibus officiis praesentium?-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="listing-card" (click)="click('card 1')">-->
<!--      <div class="content">-->
<!--        <span class="title">Title</span>-->
<!--        <p class="body">-->
<!--          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod autem reprehenderit cupiditate delectus magni aspernatur id suscipit itaque, est minus, error, eveniet enim facere in aliquam quae temporibus officiis praesentium?-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</ion-content>
